<div style="text-align:center">
<h1> Home tools </h1> </div>

<div class="customcls">
<p style="font-weight:bold;">Screwdriver </p>
	<img class="float_left1" [src]=myimage1 width="200" height="200">

<p> Pret: 35 lei </p>
<button> Adauga in cos </button>

</div>

<div class="customcls">
<p style="font-weight:bold;"> Pliers </p>
	<img class="float_left2" [src]=myimage2 width="200" height="200">

<p> Pret: 40 lei </p>
<button> Adauga in cos </button>

</div>

<div class="customcls">
<p style="font-weight:bold;"> Hammer </p>
	<img class="float_left3" [src]=myimage3 width="200" height="200">
<p> Pret: 35 lei </p>
<button> Adauga in cos </button>

</div>
