
<div style="text-align:center">
<h1> Local Market </h1> </div>


<img class="float_left" [src]=myimage1 width="400" height="400" align="right">




<nav>
<a  mat-raised-button routerLink="/signin">Sign in</a>

<a  mat-raised-button routerLink="/signup">Sign up</a>
<a  mat-raised-button routerLink="/privacypolicy">Privacy Policy</a>
</nav>
     


<p> Here you can find fresh and quality products sold by local productors</p>
<p>Quality,Fresh,Accessible</p>

<p style="font-weight:bold;"> Why would you choose us?</p>

<p>*We are local productors/farmers</p>
<p>*We bring you products from your local area</p>
<p>*Best quality</p>
<p>*We work only with certified productors</p>


<router-outlet></router-outlet>
