<div style="text-align:center">
<h1> Sign up</h1> </div>

<p> Create an account and start shopping ! </p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
<p style="font-weight:bold;">Username</p>
	<input type="text" name="username" >
  </mat-form-field> 

	<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
<p style="font-weight:bold;">Email</p>
	<input type="text" name="email" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
<p style="font-weight:bold;">Password</p>
	<input type="password" name="password" >
  </mat-form-field>
<nav>
<a  mat-raised-button routerLink="/home">Sign up</a>
</nav>
</form>


