
<div style="text-align:center">
<h1> Dairy products </h1> </div>

<button>Cosul meu</button>
<div class="customcls">
<p style="font-weight:bold;">Milk </p>
	<img class="float_left1" [src]=myimage1 width="200" height="200">

<p> Pret: 2.5 lei/l </p>
<button> Adauga in cos </button>

</div>

<div class="customcls">
<p style="font-weight:bold;"> Cheese </p>
	<img class="float_left2" [src]=myimage2 width="200" height="200">

<p> Pret: 3 lei/kg </p>
<button> Adauga in cos </button>

</div>

<div class="customcls">
<p style="font-weight:bold;"> Eggs </p>
	<img class="float_left3" [src]=myimage3 width="200" height="200">
<p> Pret: 0.75 lei/buc </p>
<button> Adauga in cos </button>

</div>

<div class="customcls">
<p style="font-weight:bold;"> Youghurt </p>
	<img class="float_left4" [src]=myimage4 width="200" height="200">
<p> Pret: 1.5 lei/l </p>
<button> Adauga in cos </button>
</div>

<div class="customcls">
<p style="font-weight:bold;"> Butter </p>
	<img class="float_left4" [src]=myimage5 width="200" height="200">
<p> Pret: 3 lei/100g </p>
<button> Adauga in cos </button>
</div>