
<div style="text-align:center">
<h1> Home </h1> </div>
<button>Cosul meu</button>

<nav>

<a  mat-raised-button routerLink="/start">Sign out</a>
</nav>

<p> Alege una din cateogrii: </p>



<nav>

<a  mat-raised-button routerLink="/fresh">Fresh products</a>

<a  mat-raised-button routerLink="/dairy">Dairy</a>

<a  mat-raised-button routerLink="/nonpersihable">Non-perishable</a>

<a  mat-raised-button routerLink="/hometools">Home tools</a>

<a  mat-raised-button routerLink="/cleanindproducts">Cleaning products</a>
</nav> 